
<footer>
    <div class="container">
        <div>
            <h3>Openingstijden</h3>
            <ul>
                <li>Maandag t/m Zondag</li>
                <li>07:00-01:00</li>
            </li>
            </ul>
        </div>
    
        <div>
            <h3>Adres</h3>
            <ul>
                <li><a target="_blank" href="https://www.google.com/maps/dir//Hannie+Dankbaarpassage+47,+1053+RT+Amsterdam/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47c609e01c667649:0x1b0e222afb33e9e?sa=X&ved=1t:707&ictx=111">Dankbaarpassage 47</a></li>
                <li>1053 RT Amsterdam</li>
                <li>Nederland</li>
            </ul>
        </div>
    
        <div>
            <h3>Volg ons</h3>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/HallenAmsterdam/">Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/dehallen.amsterdam/">Insta</a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li><a href="">Route</a></li>
                <li><a href="">Bezoek</a></li>
            </ul>           
        </div>
    </div>
</footer>

</body>
</html>